ol li:nth-child(2n){
    background-color: crimson;
}

ol li:nth-child(2n+1){
    background-color: cornflowerblue;
}

li.done{
    text-decoration: line-through;
}

ul li:nth-child(2n){
    background-color: deepskyblue;
}

ul li:nth-child(2n+1){
    background-color: greenyellow;
    
}